@using Kendo.Mvc.UI;
@model dynamic

@{
    ViewBag.Title = "Admin Control Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<form method="post" action='@Url.Action("UploadFiles")' style="width:45%">
        @(Html.Kendo().Upload().Name("files").HtmlAttributes(new { style = "width:700px" }))
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Upload Categories</button>
    </form>*@